@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
}

:root {
    --grey-bar-color: #4a4a4a;
    --navbar-color: #222222;
}

.flex {
    display: flex;
}



/*barra di visualizzazione della pagina*/
.view-mode-container {
    gap: 0.5rem;
    justify-content: end;
    padding: 0.5rem;
}

.small-icon {
    width: 15px;
}

.view-mode {
    background-color: var(--grey-bar-color);
    padding: 0.5rem;
    border-radius: 8px;
    gap: 0.3rem;
    align-items: center;
}


/*sezione principale con schermo utenti*/
.section {
    width: 100vw;
    padding: 1rem 3rem;
}

.user-img {
    width: 100%;
}

.user-name {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    font-size: 14px;
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 5px;
    left: 0;
}

.relative {
    position: relative;
}

.row {
    flex-wrap: wrap;
    gap: .5rem;
}



/*sezione navbar pagina */
.navbar {
    background-color: var(--navbar-color);
    
}

.navbar-box {
    text-align: center;
    gap: 0.7rem;
    font-size: 14px;
    padding: 1rem;
}

.large-icon {
    width: 30px;
    height: 30px;
}